<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{ 'WELCOME'|lower }}

<a href="{{ path('app_pins_create')}}">Create Pin</a>

{% for pin in pins %}
        <li>{{  pin.title }}</li>
    {% else %}
        <p>Sorry no pins yet !</p>
{% endfor %}
</body>
</html>